.feedback-form_list-impress {
  color: @basic-black;
  background: @basic-white;
}

.feedback-form_option {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feedback-form_radio {
  width: 48px;
  height: 48px;
  background-color: @basic-extra-light-grey;
  border: 5px solid @basic-extra-light-grey;
  border-radius: 50%;
}

.feedback-form_radio:hover {
  background-color: @basic-blue-disabled;
  border: 5px solid @basic-blue-disabled;
}

.feedback-form_radio:active {
  background-color: @basic-grey-down;
  border: 5px solid @basic-grey-down;
}

.feedback-form_checkmark {
  width: 18px;
  height: 18px;
  background-color: @basic-extra-dark;
  border: 3px solid @basic-extra-dark;
  border-radius: 50%;
}

.feedback-form_checkmark:active {
  opacity: 0.3;
}
