.feedback-form__list-visited {
  color: @basic-black;
  background: @basic-white;

  @media(min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media(min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.feedback-form__wrapper-visited {
  display: flex;
  flex-direction: column;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 89px;
  }

  @media(min-width: @desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}

.feedback-form__option {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feedback-form__checkbox {
  width: 46px;
  height: 46px;
  background-color: @basic-extra-light-grey;
  border: 5px solid @basic-extra-light-grey;
  border-radius: 3px;
}

.feedback-form__checkbox:hover {
  background-color: @basic-blue-disabled;
  border: 5px solid @basic-blue-disabled;
}

.feedback-form__checkbox:active {
  background-color: @basic-grey-down;
  border: 5px solid @basic-grey-down;
}

.feedback-form__check {
  width: 23px;
  height: 16px;
  background-color: @basic-black;
}

.feedback-form__check:hover {
  background-color: @basic-extra-dark;
}

.feedback-form__check:active {
  background-color: @basic-extra-dark;
  opacity: 0.3;
}
