.feedback-form__list-describe {

  @media(min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media(min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.feedback-form__textarea {
  font-family: PT Sans, Arial, sans-serif;
  width: 279px;
  height: 160px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-left: 21px;
  padding-top: 13px;
  padding-right: 23px;
  color: @basic-black;
  background: @basic-extra-light-grey;
}

.feedback-form__btn-list {
  @media(min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    justify-content: space-between;
  }

  @media(min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    justify-content: space-between;
  }
}

.feedback-form__btn {
  box-sizing: border-box;
  width: 280px;
  height: 58px;
  margin-top: 18px;
  text-align: center;
}

.feedback-form__required {
  display: none;
  color: @basic-extra-dark;
  background: @basic-white;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;

  @media(min-width: @tablet-width) {
    display: block;
  }

  @media(min-width: @desktop-width) {
    display: block;
  }
}
