.foto {
  list-style: none;
  margin: 0;
  padding: 0;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media(min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.foto__list {
  margin: 0;
  padding: 0;
  color: @basic-black;
  background-color: @basic-white;

  @media(min-width: @tablet-width) {
    width:324px;
  }

  @media(min-width: @desktop-width) {
    width: 400px;
}
}

.foto__list1 {
  @media(min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 648px;
  }

  @media(min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 1200px;
  }
}

.foto__img {
  width: 280px;
  height: 280px;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 11px;

  @media(min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media(min-width: @desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.foto__img1 {
  @media(min-width: @tablet-width) {

    height: 400px;
  }

  @media(min-width: @desktop-width) {
    height: 400px;
  }
}

.foto__comment {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  @media(min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.foto__header {
  color: @basic-black;
  background-color: @basic-white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.infrastructure__text {
  color: @basic-extra-dark;
  background-color: @basic-white;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 10px;
}

.foto__like {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  @media(min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    align-items: center;
    display: flex;
  }

  @media(min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    align-items: center;
    display: flex;
  }
}

.foto__like-button {
  width: 23px;
  height: 21px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
  padding: 0;
  background-color: @basic-black;
  opacity: 0.3;
}
