.infrastructure {
  color: @basic-black;
  background-color: @basic-white;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 9px;
  padding-bottom: 9px;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.infrastructure-two {
  background-color: @basic-extra-light;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.infrastructure__item {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 26px;
}

.infrastructure-header1::after,
.infrastructure-header2::after,
.infrastructure-header3::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 21px;
  width: 39px;
  height: 37px;
  color: @basic-blue;
}

.infrastructure__header1::after {
  background: url("../img/icon-1.png") 50% 50% no-repeat;
}

.infrastructure__header2::after {
  background: url("../img/icon-2.png") 50% 50% no-repeat;
  width: 32px;
  height: 38px;
}

.infrastructure__header3::after {
  background: url("../img/icon-3.png") 50% 50% no-repeat;
  width: 40px;
  height: 35px;
}

.infrastructure__header {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 14px;
}

.infrastructure__num {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
  color: @basic-extra-dark;
}

.infrastructure__text {
  font-size: 14px;
  line-height: 21px;
  color: @basic-extra-dark;
}
