.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  color: @basic-black;
  background-color: @basic-white;
}

.main-header__logo {
  width: 101px;
  height: 84px;
  order: 1;
}

.main-nav__toggle {
  background-color: @basic-blue;
  width: 23px;
  height: 22px;
}

.main-nav__toggle:hover {
  background-color: @basic-blue;
  opacity: 0.6;
}

.main-nav__toggle:active {
  background-color: @basic-blue;
  opacity: 0.3;
}

.main-nav__list {
  display: none;
}

.main-nav__toggle:acive .main-nav__list {
  display: block;
}

.site-list {
  list-style: none;
  width: 320px;
  color: @basic-white;
  background-color: @basic-blue;
  margin: 0;
  padding: 0;
}

.site-list__item-active {
  color: @basic-white;
  opacity: 0.3;
  background-color: @basic-blue;
}

.site-list__item a {
  color: @basic-white;
  background-color: @basic-blue;
  padding-top: 23px;
  padding-bottom: 18px;
  justify-self: center;
}

.site-list__item a:hover,
.site-list__item a:focus {
  color: @basic-white;
  background-color: @basic-blue-hover;
}

.site-list__item a:active {
  color: @basic-white;
  opacity: 0,3;
  background-color: @basic-blue-active;
}
