.main-footer {
  width: 320px;
  margin: 0 auto;
  color: @basic-black;
  background-color: @basic-white;
}

.main-footer_wrapper {
  text-align: center;
}

.footer_hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @basic-black;
  background-color: @basic-white;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: @basic-black;
  background-color: @basic-white;
  margin-top: 45px;
  margin-bottom: 26px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: @basic-blue;
  background-color: @basic-white;
}

.footer-copyright a:active {
  color: @basic-black;
  opacity: 0.3px;
  background-color: @basic-white;
}

.footer-copyright-img {
  width: 47px;
  height: 48px;
}
