.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  background-color: @basic-white;
  color: #000000;
}
